[[language]]
name = "nix"
language-servers = ["nixd", "nil"]
formatter = { command = "nixpkgs-fmt" }
auto-format = true

[language-server.nixd]
command = "nixd"

[language-server.nixd.config.nixd.formatting]
command = ["nixpkgs-fmt"]

[language-server.nixd.config.nixd.nixpkgs]
expr = "import (builtins.getFlake (toString ./.)).inputs.nixpkgs { }"

[language-server.nixd.config.nixd.options]
nixos = { expr = "(builtins.getFlake (toString ./.)).nixosConfigurations.luffy.options" }
flake-parts = { expr = "(builtins.getFlake (toString ./.)).debug.options" }
flake-parts-perSystem = { expr = "(builtins.getFlake (toString ./.)).currentSystem.options" }
home-manager = { expr = "(builtins.getFlake (toString ./.)).nixosConfigurations.luffy.options.home-manager.users.value.dns" }
